.index-title {
  font-size: 100px;
}
img {
  max-width: 100%;
}
.bannerimg-lg {
  width: 746px;
}
.sectionOneBgOne {
  z-index: -1;
  overflow: hidden;
  top: 0;
  right: 0;
}
.sectionOneBgTwo {
  z-index: -1;
  overflow: hidden;
}
