<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>Courses</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 投資課程 -->
    <div class="container my-6 my-lg-100">
      <h1 class="main-title fs-3 fs-lg-1 fw-bolder text-grayscale-900 mb-5">
        投資課程
      </h1>
      <!--課程  -->
      <ul
        class="d-flex justify-content-between ps-0 border-bottom justify-content-lg-start mb-lg-0"
      >
        <a
          href="#"
          class="py-2 text-primary-500 border-bottom-primary-500 me-lg-5"
          ><li>所有課程</li></a
        >
        <a href="#" class="py-2 course-list me-lg-5"><li>新手入門</li></a>
        <a href="#" class="py-2 course-list me-lg-5"><li>通勤 10 分鐘</li></a>
        <a href="#" class="py-2 course-list"><li>進階策略</li></a>
      </ul>
      <!-- tag -->
      <ul class="ps-0 justify-content-between py-5">
        <a href="#">
          <span class="badge course-tag-custom fw-normal fs-6 me-3 mb-3"
            ><span class="material-icons-outlined align-bottom fs-6 pe-1">
              check </span
            >理財新手</span
          >
        </a>
        <a href="#">
          <span
            class="badge course-tag-outline course-tag-color fw-normal fs-6 me-3 mb-3"
            >股票新手教學</span
          >
        </a>
        <a href="#">
          <span
            class="badge course-tag-outline course-tag-color fw-normal fs-6 me-3 mb-3"
            >基金教學</span
          >
        </a>
        <a href="#">
          <span
            class="badge course-tag-outline course-tag-color fw-normal fs-6 me-3 mb-3"
            >ETF 是什麼</span
          >
        </a>
        <a href="#">
          <span
            class="badge course-tag-outline course-tag-color fw-normal fs-6 me-3 mb-3"
            >台股投資</span
          >
        </a>
        <a href="#">
          <span
            class="badge course-tag-outline course-tag-color fw-normal fs-6 me-3"
            >什麼是指數投資</span
          >
        </a>
      </ul>
      <!-- course first part-->
      <div class="row d-flex overflow-auto f-nowrap mb-5">
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-1.svg"
                class="card-img-top chart-image position-relative"
                alt="股票投資基礎入門"
                title="股票投資基礎入門"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">0.0</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">12 個章節・3 小時</p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  股票投資基礎入門
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  從認識股票開始，學習如何分析公司基本面，建立投資組合的基本概念。
                </p>
                <p class="fs-sm text-grayscale-700">林宇謙 / 金融界大佬</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-2.svg"
                class="card-img-top chart-image position-relative"
                alt="善用時間複利創造財富"
                title="善用時間複利創造財富"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">4.5</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">
                    5 個章節 ・ 1 小時
                  </p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  善用時間複利創造財富
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  從複利公式談長期投資的價值。
                </p>
                <p class="fs-sm text-grayscale-700">
                  邱亦霖 / 理財部落客 學員數或開課日
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-3.svg"
                class="card-img-top chart-image position-relative"
                alt=" 被動收入入門指南"
                title="被動收入入門指南"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">4.8</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">
                    6 個章節 ・ 1.5 小時
                  </p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  被動收入入門指南
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  掌握多元收入來源的管道與建立方法。
                </p>
                <p class="fs-sm text-grayscale-700">
                  沈佳玲 / 理財顧問 學員數或開課日
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- course second part-->
      <div class="row d-flex overflow-auto f-nowrap">
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-4.svg"
                class="card-img-top chart-image position-relative"
                alt="財報讀懂關鍵術：從數字看出好壞公司"
                title="財報讀懂關鍵術：從數字看出好壞公司"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">4.6</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">
                    10 個章節 ・ 3 小時
                  </p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  財報讀懂關鍵術：從數字看出好壞公司
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  學會從損益表、資產負債表與現金流報表看懂企業體質。
                </p>
                <p class="fs-sm text-grayscale-700">李建誠 / 會計師養成導師</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-5.svg"
                class="card-img-top chart-image position-relative"
                alt="存股人生：打造每月配息現金流"
                title="存股人生：打造每月配息現金流"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">4.3</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">
                    9 個章節 ・ 2.5 小時
                  </p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  存股人生：打造每月配息現金流
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  深入探討高股息策略與殖利率陷阱，規劃長期配息資產。
                </p>
                <p class="fs-sm text-grayscale-700">黃小刪 / 退休理財專家</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-9 col-lg-4">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-6.svg"
                class="card-img-top chart-image position-relative"
                alt="善用時間複利創造財富"
                title="善用時間複利創造財富"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >理財新手</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">4.5</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">5 個章節・1 小時</p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  善用時間複利創造財富
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  從複利公式談長期投資的價值。
                </p>
                <p class="fs-sm text-grayscale-700">邱亦霖 / 理財部落客</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- 最多觀看 -->
    <div class="container my-6 my-lg-100">
      <h1 class="main-title fs-3 fs-lg-1 fw-bolder text-grayscale-900 mb-5">
        最多觀看
      </h1>
      <!-- course first part-->
      <div class="row d-flex overflow-auto f-nowrap mb-5">
        <div class="col-9 col-lg-3">
          <a href="#">
            <div class="card border-0">
              <img
                src="/assets/images/invest-1.svg"
                class="card-img-top chart-image position-relative"
                alt="台股新手教戰守則"
                title="台股新手教戰守則"
              />
              <span
                class="badge bg-secondary-100 text-primary-700 fs-sm py-1 position-absolute course-badge"
                >新手入門</span
              >
              <div class="card-body p-0">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <img
                      src="/assets/images/star.svg"
                      alt="star"
                      class="fs-5"
                    />
                    <p class="pt-4 ps-1">0.0</p>
                  </div>
                  <p class="pt-4 fs-sm text-grayscale-700">12 個章節・3 小時</p>
                </div>
                <h5 class="card-title fs-lg-4 fw-bolder text-primary-500-hover">
                  台股新手教戰守則
                </h5>
                <p class="card-text fs-lg-5 text-grayscale-700">
                  從認識股票開始，學習如何分析公司基本面，建立投資組合的基本概念。
                </p>
                <p class="fs-sm text-grayscale-700">林宇謙 / 金融界大佬</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
