<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="position-relative z-0 overflow-hidden">
      <div
        class="container text-center py-9 d-lg-flex justify-content-lg-between text-lg-start"
      >
        <div class="py-lg-5">
          <p class="text-primary-500 fw-bolder mb-4 fs-lg-3">
            \ 專為投資新手設計 /
          </p>
          <h1 class="fs-2 display-lg-4 text-primary-800">
            <span class="d-inline-block mb-4">投資新手變高手</span><br />就從
            <img src="/assets/images/big-logo.png" alt="logo" /> 開始
          </h1>
          <p class="mt-5 fs-lg-4">
            從零開始學投資，<br />
            過模擬帳戶安全練習， <br />讓財金小白也能輕鬆入門股市理財
          </p>
          <button class="btn btn-primary-600 my-5 p-4 fw-bolder" type="button">
            立即訂閱
          </button>
        </div>
        <!-- bannerimg -->
        <div class="container d-flex justify-content-center">
          <img
            src="/assets/images/Banner-img.png"
            alt="Banner-img"
            class="bannerimg-lg"
          />
        </div>
        <img
          src="/assets/images/Mobile-Section1-BG1.png"
          alt="background"
          class="position-absolute sectionOneBgOne"
        />
        <img
          src="/assets/images/Mobile-Section1-BG2.png"
          alt="background"
          class="position-absolute sectionOneBgTwo"
        />
        <!-- desktopSectionBg2 -->
        <img
          src="/assets/images/Section1 - BG 2.png"
          alt="Section1bg2"
          class="position-absolute sectionOneLgBgTwo d-noneLg d-lg-flex"
        />
      </div>
      <!-- desktopSectionBg1 -->

      <img
        src="/assets/images/Section1 - BG 1.png"
        alt="Section1bg1"
        class="position-absolute sectionOneBgOne d-none d-lg-flex"
      />
    </div>

    <!-- Modal 按鈕 -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
