<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <title>News</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <h1 class="fs-lg-1 fw-bolder py-lg-100">市場新聞及行情</h1>
      <div class="row">
        <div class="col-lg-6">
          <div>
            <img src="/assets/images/Banner-img.png" alt="" class="mb-2" />
            <!-- 新聞pic -->
            <h3 class="fs-lg-3 fw-bolder">
              台股開盤漲逾百點後陷震盪，台積電一度觸及1,160元高價
            </h3>
            <!-- source -->
            <div
              class="text-grayscale-600 d-lg-flex justify-content-lg-between mb-lg-2"
            >
              <p>民視財經網</p>
              <p>2025年7月28日 週一上午9:10</p>
            </div>
            <!-- content -->
            <p class="text-grayscale-600 lh-3">
              即時中心／粽合報導<br />
              市場對美國買易協議前景樂觀，提振美股，上週五全面收紅。台股今（28）日開盤上漲
              112.72 點，以 23,477.10 點開出，隨後持續震盪，目前指数小漲 61.8
              點，來到 23,426.18
              點。台積電（2330）今開盤上漲10元，以1,155元開出，一度觸及1,160元⋯
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-4 newsBorderB">
            <a href="#" class="primary-500-hover">
              <h4 class="fw-bolder mb-1">
                台積電法說會铎出業觀訊號，Q4營收展望優於預期
              </h4>
            </a>
            <p class="text-grayscale-600">Description within 2 lines</p>
            <p class="text-grayscale-600 text-end">Date</p>
          </div>
          <div class="mb-4 newsBorderB">
            <a href="#" class="text-primary-500">
              <h4 class="fw-bolder mb-1">
                台積電法說會铎出業觀訊號，Q4營收展望優於預期
              </h4>
            </a>
            <p class="text-grayscale-600">Description within 2 lines</p>
            <p class="text-grayscale-600 text-end">Date</p>
          </div>
          <div class="mb-4 newsBorderB">
            <a href="#" class="primary-500-hover">
              <h4 class="fw-bolder mb-1">
                台積電法說會铎出業觀訊號，Q4營收展望優於預期
              </h4>
            </a>
            <p class="text-grayscale-600">Description within 2 lines</p>
            <p class="text-grayscale-600 text-end">Date</p>
          </div>
          <div class="mb-4 newsBorderB">
            <a href="#" class="primary-500-hover">
              <h4 class="fw-bolder mb-1">
                台積電法說會铎出業觀訊號，Q4營收展望優於預期
              </h4>
            </a>
            <p class="text-grayscale-600">Description within 2 lines</p>
            <p class="text-grayscale-600 text-end">Date</p>
          </div>
          <div class="mb-4 newsBorderB">
            <a href="#" class="primary-500-hover">
              <h4 class="fw-bolder mb-1">
                台積電法說會铎出業觀訊號，Q4營收展望優於預期
              </h4>
            </a>
            <p class="text-grayscale-600">Description within 2 lines</p>
            <p class="text-grayscale-600 text-end mb-6">Date</p>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
